@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #333;
  background: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 9%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo-img {
    width: 33px;
    height: auto;
}
.sacola-icon a:hover {
  background-color: pink;
  position: relative;
  display: flex;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 80px;
  margin: 0 !important;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

.menu-lateral a {
  margin: 0 !important;
  padding: 10px 20px;
  display: block;
  border-radius: 8px;
  background-color: pink;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.menu-lateral a:hover {
  background-color: pink;
}

.hamburger-menu {
  position: relative;
  width: 35px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-menu i {
  font-size: 35px;
  color: pink;
  cursor: pointer;
}